<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <value name="pub">Developers</value>
  <value name="pub.cluster">WmPrivate</value>
  <value name="pub.date:currentDate">WmPrivate</value>
  <value name="pub.date:dateBuild">WmPrivate</value>
  <value name="pub.date:dateTimeBuild">WmPrivate</value>
  <value name="pub.date:incrementDate">WmPrivate</value>
  <value name="pub.jms.wmjms">WmPrivate</value>
  <value name="pub.list:appendToRecordList">WmPrivate</value>
  <value name="pub.list:appendToRecordListItem">WmPrivate</value>
  <value name="pub.list:copyListItem">WmPrivate</value>
  <value name="pub.list:getListItem">WmPrivate</value>
  <value name="pub.list:getRecordListItem">WmPrivate</value>
  <value name="pub.list:getStringListItem">WmPrivate</value>
  <value name="pub.list:setListItem">WmPrivate</value>
  <value name="pub.list:setRecordListItem">WmPrivate</value>
  <value name="pub.list:setStringListItem">WmPrivate</value>
  <value name="pub.list:stringListToRecordList">WmPrivate</value>
  <value name="pub.oauth:getAccessToken">WmPrivate</value>
  <value name="pub.oauth:refreshAccessToken">WmPrivate</value>
  <value name="pub.record">WmPrivate</value>
  <value name="pub.table">WmPrivate</value>
  <value name="pub.web">WmPrivate</value>
  <value name="pub.smime:getContentType">WmPrivate</value>
  <value name="pub.smime:createSignedData">WmPrivate</value>
  <value name="pub.smime:createSignedAndEncryptedData">WmPrivate</value>
  <value name="pub.smime:processEncryptedData">WmPrivate</value>
  <value name="pub.security:setKeyAndChain">WmPrivate</value>
  <value name="pub.security.pkcs7:sign">WmPrivate</value>
  <value name="pub.storage:startup">WmPrivate</value>
  <value name="pub.storage:shutdown">WmPrivate</value>
  <value name="pub.sync:shutdown">WmPrivate</value>
  <value name="pub.client.sftp:shutdown">WmPrivate</value>
  <value name="sample">Developers</value>
  <value name="tutorial">Developers</value>
  <value name="win32">Developers</value>
  <value name="wm.PartnerMgr">Developers</value>
  <value name="wm.server">Administrators</value>
  <value name="wm.server.outboundPasswords">WmPrivate</value>
  <value name="wm.dev">Administrators</value>
  <value name="wm.broker">Administrators</value>
  <value name="wm.xslt">Administrators</value>
  <value name="pub.event.audit">WmPrivate</value>
  <value name="pub.event.exception">WmPrivate</value>
  <value name="pub.event.sessionEnd">WmPrivate</value>
  <value name="pub.event.sessionExpire">WmPrivate</value>
  <value name="pub.event.sessionStart">WmPrivate</value>
  <value name="pub.event.stats">WmPrivate</value>
  <value name="wm.administrator">Administrators</value>
  <value name="wm.administratorResource">Administrators</value>
  <value name="wm.art">Administrators</value>
  <value name="wm.Mainframe">Developers</value>
  <value name="MainframeSampleServices">Developers</value>
  <value name="pub.security.reverseInvoke">WmPrivate</value>
  <value name="wm.prt">Administrators</value>
  <value name="pub.prt">Developers</value>
  <value name="pub.uddi">Developers</value>
  <value name="pub.uddi.client.util">WmPrivate</value>
  <value name="pub.publish:syncToBroker">WmPrivate</value>
  <value name="pub.json:validate">WmPrivate</value>
  <value name="omi">Administrators</value>
  <value name="wm.ism">Administrators</value>
  <value name="pub.soap.handler:addHeaderElement">WmPrivate</value>
  <value name="pub.soap.handler:getHeaderElement">WmPrivate</value>
  <value name="pub.soap.handler:removeHeaderElement">WmPrivate</value>
  <value name="pub.soap.handler:registerConsumer">WmPrivate</value>
  <value name="pub.soap.handler:registerProvider">WmPrivate</value>
  <value name="pub.soap.processor">WmPrivate</value>
  <value name="pub.client:soapRPC">WmPrivate</value>
  <value name="pub.client:soapHTTP">WmPrivate</value>
  <value name="pub.soap.utils:resetWSDEffectivePolicy">WmPrivate</value>
  <value name="pub.soap.utils:setWSDEffectivePolicy">WmPrivate</value>
  <value name="pub.string:documentArrayToStringTable">WmPrivate</value>
  <value name="pub.string:stringTableToDocumentArray">WmPrivate</value>
  <value name="pub.utils:toObjectArray">WmPrivate</value>
  <value name="wm.server.deployer:export">Administrators</value>
  <value name="pub.cache.admin">Administrators</value>
  <value name="wm.server.ehcache.admin">Administrators</value>
  <value name="wm.server.csrfguard">Administrators</value>
  <value name="wm.server.sftpclient">Administrators</value>
  <value name="wm.server:ntlmclient">Administrators</value>
  <value name="wm.server.globalvariables">Administrators</value>
  <value name="pub.event.eda:send">WmPrivate</value>
  <value name="wm.server.net.websocket:init">WmPrivate</value>
  <value name="wm.server.net.websocket:shutdown">WmPrivate</value>
  <value name="pub.string:isNullOrBlank">WmPrivate</value>
  <value name="pub.cloudstreams">Developers</value>
  <value name="cloudstreams">Administrators</value>
  <value name="cloudstreams.ctk">Developers</value>
  <value name="wm.cloudstreams">Developers</value>
  <value name="cloudstreams.UIConfig:initUI">Administrators</value>
  <value name="cloudstreams.config">Administrators</value>
  <value name="wm.cloudstreams.admin">Administrators</value>
  <value name="cloudstreams.integration.collectionkey">Developers</value>
  <value name="wm.server.metadata">Internal</value>
  <value name="wm.jsonapi.logging:init">WmPrivate</value>
  <value name="wm.jsonapi.logging">WmPrivate</value>
  <value name="wm.prt.utility">WmPrivate</value>
  <value name="pub.monitor">MonitorUsers</value>
  <value name="wm.monitor">MonitorAdministrators</value>
  <value name="ws.monitor">MonitorAdministrators</value>
  <value name="rs.monitor">MonitorAdministrators</value>
  <value name="com.wm.isextdc">Administrators</value>
  <value name="wm.loggingUtility">Administrators</value>
  <value name="wm.deployer.Wrapper">WmPrivate</value>
  <value name="wm.deployer.Util:receiveFiles">Anonymous</value>
  <value name="wm.server.ff:SEFParse">WmPrivate</value>
  <value name="wm.bci.redefine:attach0">WmPrivate</value>
  <value name="wm.bci.redefine:initialize">WmPrivate</value>
  <value name="wm.bci.redefine:shutdown">WmPrivate</value>
  <value name="wm.art.admin">WmPrivate</value>
  <value name="wm.art.error">WmPrivate</value>
  <value name="wm.art.metadata">WmPrivate</value>
  <value name="wm.art.notification">WmPrivate</value>
  <value name="wm.art.ns">WmPrivate</value>
  <value name="wm.art.adapter">WmPrivate</value>
  <value name="omi.wm.art">WmPrivate</value>
  <value name="wm.art.odata">WmPrivate</value>
  <value name="wm.art.ic">WmPrivate</value>
  <value name="wm.b2b.edi">Internal</value>
  <value name="wm.b2b.edi.portal">WmPrivate</value>
  <value name="wm.tn">Developers</value>
  <value name="wm.tn.portal">WmPrivate</value>
  <value name="wm.tn.admin:invokeServiceForTNConsole">WmPrivate</value>
  <value name="wm.tn.dictionary:deleteFieldDefinition">WmPrivate</value>
  <value name="wm.tn.tpa:removeTPA">WmPrivate</value>
  <value name="wm.tn.access:createPartnerAccount">TNAdministrators</value>
  <value name="wm.tn.access:getConsoleRestrictions">TNAdministrators</value>
  <value name="wm.tn.access:getPartner">WmPrivate</value>
  <value name="wm.tn.access:getPartnerCertificate">WmPrivate</value>
  <value name="wm.tn.access:getSigningKeys">WmPrivate</value>
  <value name="wm.tn.access:init">TNAdministrators</value>
  <value name="wm.tn.access:removePartnerCertificate">WmPrivate</value>
  <value name="wm.tn.access:setPartnerCertificate">WmPrivate</value>
  <value name="wm.tn.access:setSigningKeys">WmPrivate</value>
  <value name="wm.tn.access:userList">WmPrivate</value>
  <value name="wm.tn.access:getUserListByGroup">WmPrivate</value>
  <value name="wm.tn.admin:checkCompatibility">TNAdministrators</value>
  <value name="wm.tn.admin:getStartupErrors">TNAdministrators</value>
  <value name="wm.tn.admin:getDBLimits">TNAdministrators</value>
  <value name="wm.tn.admin:getDBPoolInfo">TNAdministrators</value>
  <value name="wm.tn.admin:install">TNAdministrators</value>
  <value name="wm.tn.admin:installACLs">TNAdministrators</value>
  <value name="wm.tn.admin:migrateCerts">TNAdministrators</value>
  <value name="wm.tn.admin:processClusterSyncReq">TNAdministrators</value>
  <value name="wm.tn.admin:shutdown">TNAdministrators</value>
  <value name="wm.tn.admin:startup">TNAdministrators</value>
  <value name="wm.tn.admin:upgrade">TNAdministrators</value>
  <value name="wm.tn.admin:clearTNObjects">TNAdministrators</value>
  <value name="wm.tn.admin.migrate:migrateCerts">TNAdministrators</value>
  <value name="wm.tn.admin.migrate:migrateLiveConversations">TNAdministrators</value>
  <value name="wm.tn.delivery:getAnyDelivery">WmPrivate</value>
  <value name="wm.tn.delivery:getDelivery">WmPrivate</value>
  <value name="wm.tn.delivery:getDeliveryOutput">WmPrivate</value>
  <value name="wm.tn.delivery:getDeliveryStatus">WmPrivate</value>
  <value name="wm.tn.delivery:init">TNAdministrators</value>
  <value name="wm.tn.delivery:removeDelivery">WmPrivate</value>
  <value name="wm.tn.delivery:restartDelivery">WmPrivate</value>
  <value name="wm.tn.dictionary:init">TNAdministrators</value>
  <value name="wm.tn.doc.xml:generateXmlHeader">TNAdministrators</value>
  <value name="wm.tn.doc.xml:getDocumentAsTable">TNAdministrators</value>
  <value name="wm.tn.doc.xml:getRecordBlueprint">TNAdministrators</value>
  <value name="wm.tn.doc.xml:sign">TNAdministrators</value>
  <value name="wm.tn.doc.xml:stringToDocument">TNAdministrators</value>
  <value name="wm.tn.doc.xml:testValidate">TNAdministrators</value>
  <value name="wm.tn.doc.xml:validate">TNAdministrators</value>
  <value name="wm.tn.doc.xml:verify">TNAdministrators</value>
  <value name="wm.tn.doc:checkUser">TNAdministrators</value>
  <value name="wm.tn.doc:isRoutable">WmPrivate</value>
  <value name="wm.tn.doc:resubmit">TNAdministrators</value>
  <value name="wm.tn.doc:resubmits">TNAdministrators</value>
  <value name="wm.tn.doctype:delete">TNAdministrators</value>
  <value name="wm.tn.doctype:getAllMatches">TNAdministrators</value>
  <value name="wm.tn.doctype:getCategories">TNAdministrators</value>
  <value name="wm.tn.doctype:registerCategory">TNAdministrators</value>
  <value name="wm.tn.doctype:unregisterCategory">TNAdministrators</value>
  <value name="wm.tn.enumerate:deleteQueryResults">TNAdministrators</value>
  <value name="wm.tn.enumerate:first">WmPrivate</value>
  <value name="wm.tn.enumerate:last">WmPrivate</value>
  <value name="wm.tn.enumerate:next">WmPrivate</value>
  <value name="wm.tn.enumerate:prev">WmPrivate</value>
  <value name="wm.tn.polling:acceptDocument">TNAdministrators</value>
  <value name="wm.tn.polling:init">TNAdministrators</value>
  <value name="wm.tn.polling:localCheck">TNAdministrators</value>
  <value name="wm.tn.polling:remoteCheck">TNAdministrators</value>
  <value name="wm.tn.profile:getBinaryTypes">WmPrivate</value>
  <value name="wm.tn.profile:getCompanyLogos">TNAdministrators</value>
  <value name="wm.tn.profile:getContactTypes">WmPrivate</value>
  <value name="wm.tn.profile:getExtendedFieldTemplate">WmPrivate</value>
  <value name="wm.tn.profile:getIDTypes">WmPrivate</value>
  <value name="wm.tn.profile:getPartnerBinary">TNAdministrators</value>
  <value name="wm.tn.profile:getProfileMappings">TNAdministrators</value>
  <value name="wm.tn.profile:init">TNAdministrators</value>
  <value name="wm.tn.profile:setPartnerBinary">TNAdministrators</value>
  <value name="wm.tn.query:deliveryServiceDelete">TNAdministrators</value>
  <value name="wm.tn.query:deliveryServiceQuery">TNAdministrators</value>
  <value name="wm.tn.query:eventDelete">TNAdministrators</value>
  <value name="wm.tn.query:taskDelete">TNAdministrators</value>
  <value name="wm.tn.queuing:init">TNAdministrators</value>
  <value name="wm.tn.rec:DeliveryJob">TNAdministrators</value>
  <value name="wm.tn.rec:GuaranteedJob">TNAdministrators</value>
  <value name="wm.tn.rec:RoutingJob">TNAdministrators</value>
  <value name="wm.tn.rec:Security">WmPrivate</value>
  <value name="wm.tn.route:add">TNAdministrators</value>
  <value name="wm.tn.route:containsRuleName">TNAdministrators</value>
  <value name="wm.tn.route:create">TNAdministrators</value>
  <value name="wm.tn.route:delete">TNAdministrators</value>
  <value name="wm.tn.route:getAllMatches">TNAdministrators</value>
  <value name="wm.tn.route:getAnyTask">TNAdministrators</value>
  <value name="wm.tn.route:getFirstMatch">TNAdministrators</value>
  <value name="wm.tn.route:getLastChangeID">TNAdministrators</value>
  <value name="wm.tn.route:getRule">TNAdministrators</value>
  <value name="wm.tn.route:getTask">TNAdministrators</value>
  <value name="wm.tn.route:invoke">TNAdministrators</value>
  <value name="wm.tn.route:invokeWrapper">TNAdministrators</value>
  <value name="wm.tn.route:list">TNAdministrators</value>
  <value name="wm.tn.route:mergeFlags">TNAdministrators</value>
  <value name="wm.tn.route:move">TNAdministrators</value>
  <value name="wm.tn.route:newRuleFromDocument">TNAdministrators</value>
  <value name="wm.tn.route:update">TNAdministrators</value>
  <value name="wm.tn.security:getDecryptCACertificates">WmPrivate</value>
  <value name="wm.tn.security:getDecryptCertificate">WmPrivate</value>
  <value name="wm.tn.security:getDecryptKey">WmPrivate</value>
  <value name="wm.tn.security:getEncryptCACertificates">WmPrivate</value>
  <value name="wm.tn.security:getEncryptCertificate">WmPrivate</value>
  <value name="wm.tn.security:getEncryptKey">WmPrivate</value>
  <value name="wm.tn.security:getSecurity">WmPrivate</value>
  <value name="wm.tn.security:getSignCACertificates">WmPrivate</value>
  <value name="wm.tn.security:getSignCertificate">WmPrivate</value>
  <value name="wm.tn.security:getSignKey">WmPrivate</value>
  <value name="wm.tn.security:getVerifyCACertificates">WmPrivate</value>
  <value name="wm.tn.security:getVerifyCertificate">WmPrivate</value>
  <value name="wm.tn.security:setDecryptCertificateSet">WmPrivate</value>
  <value name="wm.tn.security:setEncryptCertificateSet">WmPrivate</value>
  <value name="wm.tn.security:setSecurity">WmPrivate</value>
  <value name="wm.tn.security:setSignCertificateSet">WmPrivate</value>
  <value name="wm.tn.security:setVerifyCertificateSet">WmPrivate</value>
  <value name="wm.tn.security:getCertDataForPartner">WmPrivate</value>
  <value name="wm.tn.security:setCertDataForPartner">WmPrivate</value>
  <value name="wm.tn.task:init">TNAdministrators</value>
  <value name="wm.tn.task:reset">TNAdministrators</value>
  <value name="wm.tn.task:shutdown">TNAdministrators</value>
  <value name="wm.tn.util:stringListToDateList">TNAdministrators</value>
  <value name="wm.tn.util:stringListToDoubleList">TNAdministrators</value>
  <value name="wm.tn.util:stringToDate">TNAdministrators</value>
  <value name="wm.tn.util:stringToDouble">TNAdministrators</value>
  <value name="wm.tn.util:getCustomData">WmPrivate</value>
  <value name="wm.tn.util:stringToMBoolean">WmPrivate</value>
  <value name="wm.tn.util:getPreferredProtocol">WmPrivate</value>
  <value name="wm.tn:getConsoleExt">TNAdministrators</value>
  <value name="wm.tn:ping">TNAdministrators</value>
  <value name="wm.tn:reroutes">TNAdministrators</value>
  <value name="wm.tn.portal.fp:modify">WmPrivate</value>
  <value name="wm.tn.portal.dls:modify">WmPrivate</value>
  <value name="wm.tn.portal.dls:add">WmPrivate</value>
  <value name="wm.tn.portal.dls:deleteDlsInfo">WmPrivate</value>
  <value name="pub.loggingUtility">Developers</value>
  <value name="wm.adapter.wmjdbc.admin:migrate_65_To_90">WmPrivate</value>
  <value name="wm.adapter.wmjdbc.admin:migrate">WmPrivate</value>
  <value name="wm.adapter.wmjdbc.ui">WmPrivate</value>
  <value name="wm.adapter.wmjdbc.admin">Administrators</value>
  <value name="pub.pollingNotificationUtils:dbcleanup">WmPrivate</value>
  <value name="pub.pollingNotificationUtils:dropObjects">WmPrivate</value>
  <value name="pub.pollingNotificationUtils:startup">WmPrivate</value>
  <value name="pub.pollingNotificationUtils:getDBObjects">WmPrivate</value>
  <value name="pub.pollingNotificationUtils:getDBObjectsList">WmPrivate</value>
  <value name="wm.b2b.editn.portal">WmPrivate</value>
  <value name="wm.b2b.editn.util:addEDIIDType">WmPrivate</value>
  <value name="wm.b2b.editn.util:addEDIQualifiertoTNIDTypeMapping">WmPrivate</value>
  <value name="wm.b2b.editn.util:addOrUpdateEDIQualifiertoTNIDTypeMapping">WmPrivate</value>
  <value name="wm.b2b.editn.util:deleteEDIQualifiertoTNIDTypeMapping">WmPrivate</value>
  <value name="wm.b2b.editn.util:getEDIQualifiertoTNIDTypeMapping">WmPrivate</value>
  <value name="wm.b2b.editn.util:listEDIQualifiertoTNIDTypeMapping">WmPrivate</value>
  <value name="wm.b2b.editn.util:updateEDIIDTypeMap">WmPrivate</value>
  <value name="wm.b2b.editn">Internal</value>
  <value name="VAN">Internal</value>
  <value name="wm.b2b.editn.schema">WmPrivate</value>
  <value name="wm.b2b.editn.util.security">WmPrivate</value>
  <value name="wm.EDIINT.portal">WmPrivate</value>
  <value name="wm.cloudstreams.salesforce">Administrators</value>
  <value name="wmSalesforceBulkConnector_v25.customDoctypes">Developers</value>
  <value name="wmSalesforceConnector_v25.lookup">Developers</value>
  <value name="wmSalesforceBulkConnector_v29.customDoctypes">Developers</value>
  <value name="wmSalesforceConnector_v29.lookup">Developers</value>
  <value name="wmSalesforceBulkConnector_v31.customDoctypes">Developers</value>
  <value name="wmSalesforceConnector_v31.lookup">Developers</value>
  <value name="wmSalesforceBulkConnector_v37.customDoctypes">Developers</value>
  <value name="wmSalesforceConnector_v37.lookup">Developers</value>
  <value name="wmSalesforceBulkConnector_v42.customDoctypes">Developers</value>
  <value name="wmSalesforceConnector_v42.lookup">Developers</value>
  <value name="wmSalesforceBulkConnector_v44.customDoctypes">Developers</value>
  <value name="wmSalesforceConnector_v44.lookup">Developers</value>
  <value name="wm.cloudstreams.amazon.s3">WmPrivate</value>
  <value name="amazons3_v20060301.doctypes">Developers</value>
</Values>
